* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    left: 8%;
    right: 10%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color:rgb(201, 195, 195);
    font-size: 40px;
    cursor: pointer;
}

.logo span {
    color:rgb(174, 192, 185);
}

.list-items {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-items li a{

    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(201, 195, 195);
    border-radius: 5px;;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(201, 195, 195);
    background-color: rgb(56, 56, 56);
}

header {
    background-image: url("/img/222.jpg");
    width: 100vw;
    height: 80vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h-contant {
    text-transform: uppercase;
    color: whitesmoke;
    padding: 30px;
    border: 1px solid rgb(177, 149, 149);
    border-radius: 20px;
    margin-right: 20px;
}

.line {
    position: relative;
    left: -3px;
    margin: 5px;
    width: 300px;
    height: 5px;
    background: rgb(177, 149, 149);
}
.line2 {
    position: relative;
    left: -3px;
    margin: 5px;
    width: 150px;
    height: 5px;
    background: rgb(177, 149, 149);
}

/* About Section */

#about {
    background: rgb(143,146,125);
    height: 40vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* align-items: center; */
}

.li {
    padding: 30px;
}


.line- {
    border: 1px solid rgb(112,103,84);
    margin: 10px;
}

/* Contact Section */

#contact {
    display: flex;
    width: 100vw;

}
.o-box img {
    width: 50vw;
    height: 40vh;
}

/* Footer Section */

.footer {
    margin-top: -5px;
    background: rgb(117,135,129);
}

.foot {
    display: flex;
    height: 30vh;
    text-align: center;
    align-items: center;
    background: rgb(143,146,125);
    height: 40vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h3 {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}